/Test/nbproject/private/
/Test/dist/
/Test/build/
/Recitation1/nbproject/private/
/Recitation1/dist/
/hw1/build/
/JUnit-Sample/nbproject/private/
/JUnitSampleSol/nbproject/private/
/JUnit-Sample/build/
/JUnitSampleSol/build/
/hw1/dist/
/Words/nbproject/private/
/Words/build/
/Words/dist/